<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>

Multi-site support<br>
Easy to add plgins<br>
--- add plugins easily<br>
Blog Posts<br>
Messaging<br>
Galleries<br>
Proposals<br>
Bios<br>
Ads<br>
App Users<br>
--- User Roles dynamic<br />
Invoicing<br>
Excel to tabel upload<br>
-- Create table and downloadable excel for future uploads<br>
-- Run Reports and charts against it<br>
eCommerce<br>
--- Products for sale<br>
--- Shopping Cart<br>
--- Check Out<br>
--- stripe and paypal<br>
Email/Text Reminders<br>
Global Image repository via AWS<br>
Integrate angular validation<br>
Latest News posts<br>
Push to FB<br>
file and db Installer<br>
Form generator (drage and drop divs)<br>
Geo location -  validation and adding new data if not in goelocation db<br>
map integration<br>
api integration<br>
CRM<br />
--- Lead generator<br>
--- Contact mgnt<br>
--- Sales Analytics<br>
--- Sales forcasting<br>
--- Email campaigns<br>
--- Calendar/reminder<br>
--- Task Mgnt<br>
--- Document storage<br>
--- Pipeline view (new lead, contact made, qualified, in negotiation, closed)<br>
--- Quote mgnt<br>
--- Social media integration<br>
</body>
</html>